body {
    max-width: 100vw;
}

main {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    /* [Desafio 1] Conteúdo exibido em linha (lado a lado) */
    flex-direction: row; 
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    /* [Desafio 2] Cada card ocupa 100% da largura da página */
    flex: 1 1 100%; 
}

/* [Desafio 3] Altera o alinhamento individual dos botões dentro do card */
article .btn-reacao {
    align-self: flex-end; /* Posiciona os botões na parte inferior do card */
}