body {
    max-width: 100vw;
}

main {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    /* Altera o eixo principal para linha (imagem, textos e botões um ao lado do outro) */
    flex-direction: row; 
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    /* Faz cada card ocupar 100% da largura total da página */
    flex: 1 1 100%; 
}

/* Exemplo usando align-self no botão para mudar seu alinhamento individual */
article button {
    align-self: flex-end; /* Reposiciona o botão no final do container, quebrando o alinhamento central */
}