article {
    display: flex;
    flex-direction: row; /* Exibe os itens em linha (um ao lado do outro) */
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 100%; /* Faz cada card ocupar 100% da largura disponível */
}

/* Exemplo de uso do align-self em um elemento filho (imagem ou botão) */
article img {
    align-self: flex-start; /* Quebra o alinhamento padrão e posiciona a imagem no início do eixo cruzado */
}